@layer reset {
  *:where(
      :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    line-height: inherit;
  }

  a {
    cursor: revert;
    text-decoration-line: revert;
  }

  img,
  svg {
    max-width: 100%;
  }

  img,
  video,
  canvas {
    overflow: hidden;
  }

  ul,
  ol,
  menu {
    list-style: none;
  }

  em {
    font-style: revert;
  }

  strong {
    font-weight: revert;
  }

  :where(dialog:modal) {
    all: revert;
  }
}
